<header>
   <nav class="">
        

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/routes">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Routing</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content pb-4">
                
                <li class="nav-link">
                    <a >
                        <%= link_to "Edit Profile", edit_user_registration_path, class:' text-white button-18' %>
                    </a>
                </li>
                <li class="nav-link">
                    <a>
                        
                        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:" text-white button-18" %>
                    </a>
                    
                </li>
            </div>
        </div>

    </nav>

    

   
</header>