<header>
   <nav class="sidebar close">
        <header>
            <div class="image-text">
                 <% if user_signed_in? %>
                
                <div class="text logo-text">
                    <span class="name">  @<%= current_user.name %></span>
                </div>
                <% end %>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/posts">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Routing</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Driver</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/friendships">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Vehicle</span>
                        </a>
                        
                        
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-message-square-dots icon' ></i>
                            <span class="text nav-text">Organization</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content pb-4">
                
                    <li class="nav-link">
                    <a href="/users/edit">
                        <i class='bx bx-edit icon' ></i>
                        <span class="text nav-text">Edit Profile</span>
                    </a>
                </li>
                    <li class="nav-link">
                    <a href="/users/sign_out">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })

       
    </script>

   
</header>